<!-- 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/registration']">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/child-registration']">Child Registration</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
   -->


   <div class="container-fluid g-0" *ngIf="checkLoginStatus()">

    <app-user-navbar *ngIf="checkLoginStatus() && checkRole()" (sideNavToggled)="sideNavStatus = $event;"></app-user-navbar>
    <app-admin-navbar *ngIf="checkLoginStatus() && !checkRole()" (sideNavToggled)="sideNavStatus = $event;"></app-admin-navbar>
</div>

<main *ngIf="checkLoginStatus() && checkRole()">

    <app-user-sidebar [sideNavStatus]="sideNavStatus" [ngClass]="{'app-user-sidebar-open':sideNavStatus}"></app-user-sidebar>
    <div class="display-area" [ngClass] = "{'display-area-shrink': sideNavStatus}">
        <p>Main Display Area</p>
        <router-outlet></router-outlet>
    </div>

</main>


<main *ngIf="checkLoginStatus() && !checkRole()">

    <app-admin-sidebar [sideNavStatus]="sideNavStatus" [ngClass]="{'app-admin-sidebar-open':sideNavStatus}"></app-admin-sidebar>
    <div class="display-area" [ngClass] = "{'display-area-shrink': sideNavStatus}">
        <p>Main Display Area</p>
        <router-outlet></router-outlet>
    </div>
</main>

<main *ngIf="!checkLoginStatus()">
<app-login ></app-login>

</main>