<h4 style="text-align: center; margin-left: 180px; margin-right: 300px; margin-bottom: 50px; margin-top: 50px;">View User Details</h4>

<table class="table table-striped" style="width: 800px; margin-left: 180px; margin-right: 300px;">

  <tbody>
  <tr>
      <th>First Name</th>
      <td>{{firstName}}</td>
  </tr>

  <tr>
    <th>Last Name</th>
    <td>{{lastName}}</td>
  </tr>

  <tr>
    <th>Address</th>
    <td>{{address}}</td>
  </tr>

  <tr>
    <th>Email</th>
    <td>{{email}}</td>
  </tr>

  <tr>
    <th>Adhaar</th>
    <td>{{adhaar}}</td>
  </tr>

  <tr>
    <th>Bank Name</th>
    <td>{{bankName}}</td>
  </tr>
        
  <tr>
    <th>Phone</th>
    <td>{{phone}}</td>
  </tr>

  <tr>
    <th>Account Activity</th>
    <td>{{accountActive}}</td>
  </tr>
</tbody>
</table>






<!-- <table class="table table-striped">
   <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Address</th>
          <th>Email</th>
          <th>Adhaar</th>
          <th>Bank Name</th>
          <th>Phone</th>
          <th>Account Activity</th>
        </tr>
      </thead>
      <tbody>


    <tr>
        <td>{{firstName}}</td>
        <td>{{lastName}}</td>
        <td>{{address}}</td>
        <td>{{email}}</td>
        <td>{{adhaar}}</td>
        <td>{{bankName}}</td>
        <td>{{phone}}</td>
        <td>{{accountActive}}</td>

    </tr >

</tbody>
</table> -->
