<div class="page-background">

 

  

  <div class="position-absolute top-0 end-0 p-3">
  
    <form (ngSubmit)="onRegister()" #loginForm="ngForm" style="margin-right:40px ;">
  
      <p>Don't have an account?</p>
  
      <button type="submit" class="btn btn-dark">Register</button>
  
    </form>
  
  </div>
  
   
  
  <div class="container">
  
    <div class="row justify-content-center">
  
      <div class="col-md-4">
  
        <form #userRoleForm="ngForm" (ngSubmit)="onSubmit()" class="mb-4">
  
          <div class="mb-3">
  
            <h5><label for="userRole" class="form-label">Select Role:</label></h5>
  
            <select id="userRole" [(ngModel)]="selectedRole" name="userRole" class="form-select">
  
              <option value="" disabled>Select Role:</option>
  
              <option value="admin">Admin</option>
  
              <option value="user">User</option>
  
            </select>
  
          </div>
  
        </form>
  
   
  
        <!-- Display the selected role -->
  
        <div class="text-center" style="font-weight: 600;  color: #2b2b2b;">
  
          <div *ngIf="selectedRole">
  
            <p>You selected: {{ selectedRole }}</p>
  
          </div>
  
        </div>
  
      </div>
  
    </div>
  
  </div>
  
   
  
   
  
   
  
   
  
   
  
  <div class="form-container mt-5">
  
    <h2 style="text-align: center; margin-bottom: 20px; color: #263859;">Login</h2>
  
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
  
      <div class="form-group">
  
        <label for="emailOrUsername">Email/Username</label>
  
        <input type="text" class="form-control" id="emailOrUsername" [(ngModel)]="user.emailOrUsername" name="emailOrUsername" required>
  
        <!-- Display validation error message if the field is invalid -->
  
        <div *ngIf="loginForm.invalid && (loginForm.dirty || loginForm.touched)">
  
        <div *ngIf="!loginForm.controls['emailOrUsername'].valid && (loginForm.controls['emailOrUsername'].dirty || loginForm.controls['emailOrUsername'].touched)">
  
          <div class="alert alert-danger">Email/Username is required.</div>
  
        </div>
  
      </div>
  
      </div>
  
   
  
      <div class="form-group">
  
        <label for="password">Password</label>
  
        <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{6,12}$">
  
        <!-- Display validation error message if the field is invalid -->
  
        <div *ngIf="loginForm.invalid && (loginForm.dirty || loginForm.touched)">
  
        <div *ngIf="!loginForm.controls['password'].valid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
  
          <div class="alert alert-danger">
  
            <p>Password is required and should match the pattern (6-12 characters, at least one lowercase letter, one uppercase letter, and one digit).</p>
  
          </div>
  
        </div>
  
      </div>
  
      </div>
  
   
  
      <button type="submit" class="btn btn-dark">Login</button>
  
    </form>
  
  </div>
  
   
  
   
  
  </div>