
<h3 style="text-align: center;">Child Details</h3><br><br><br>

<table class="table table-striped">
    <thead>
        <tr>
          <th>Name</th>
          <th>Date of Birth</th>
          <th>Aadhar Number</th>
          <th>Gender</th>
          <th>Relationship with Child</th>
        </tr>
      </thead>

      <!-- <tbody *ngFor="let c of child-registration">
      <tr>
            <td>{{c.childName}}</td>
            <td>{{c.childDob}}</td>
            <td>{{c.childUID}}</td>
            <td>{{c.childGender}}</td>
            <td>{{c.relationship}}</td>
        </tr >   
    </tbody> -->
    
</table>